<div class="d-table m-auto h-100">
  <div class="d-table-cell align-middle">
    <div class="card">
      <div class="card-body">
        <form #PwdForm="ngForm" novalidate>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': Password.dirty && Password.errors }"
              name="password"
              id="Password"
              required
              neoEqualValidator="password_confirm"
              reverse="true"
              ngModel
              #Password="ngModel"
              >

            <div class="invalid-feedback"
              *ngIf="Password.errors?.required">
              please enter password
            </div>
          </div>

          <div class="form-group">
            <label for="PasswordConfirm">Password Confirm</label>
            <input
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': PasswordConfirm.dirty && PasswordConfirm.errors }"
              name="password_confirm"
              id="PasswordConfirm"
              required
              neoEqualValidator="password"
              ngModel
              #PasswordConfirm="ngModel"
              >

            <div class="invalid-feedback"
              *ngIf="PasswordConfirm.errors?.required">
              please enter password confirm
            </div>

            <div class="invalid-feedback"
              *ngIf="PasswordConfirm.errors?.neoEqualValidator">
              password confirm miss match
            </div>
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" [disabled]="PwdForm.form.invalid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
